---
import Default from '@/layouts/Default.astro'
import { Icon } from 'astro-icon/components'
---

<Default>
    <h1>Kiilu Ndeti</h1>
    <p>
        Hey! I'm Kiilu, a software developer diving deep (and sometimes drowning) in distributed systems. Join the journey.
    </p>
	<div class="social-links">
		<a href="https://github.com/kiiluchris" target="_blank">
			<span class="sr-only">Go to Kiilu's GitHub</span>
            <Icon name="mdi:github" size="40"/>
		</a>
		<a href="https://www.linkedin.com/in/kiilundeti" target="_blank">
			<span class="sr-only">Go to Kiilu's LinkedIn</span>
            <Icon name="mdi:linkedin" size="40"/>
		</a>
	</div>
    <style>
    .social-links a {
      text-decoration: none;
    }
    </style>
</Default>

